In [1]:
import pandas as pd

df = pd.read_csv('salaries.csv')
print(df)

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

In [3]:
print(df['Salary'])

0     50000
1    120000
2     80000
Name: Salary, dtype: int64

In [5]:
print(df[['Name','Salary']])

     Name  Salary
0    John   50000
1   Sally  120000
2  Alyssa   80000

In [6]:
print(df['Salary'].min())

50000

In [7]:
print(df['Salary'].max())

120000

In [8]:
print(df['Salary'].mean())

83333.33333333333

In [10]:
ser_of_bool = df['Age'] > 30
print(ser_of_bool)

0     True
1     True
2    False
Name: Age, dtype: bool

In [11]:
print(df[ser_of_bool])

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

In [12]:
print(df[df['Age'] > 30])

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

In [13]:
df['Age'].unique()

array([34, 45, 27])

In [14]:
df['Age'].nunique()

3

In [15]:
print(df.columns)

Index(['Name', 'Salary', 'Age'], dtype='object')

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Salary  3 non-null      int64
 2   Age     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes
None

In [17]:
print(df.describe())

              Salary        Age
count       3.000000   3.000000
mean    83333.333333  35.333333
std     35118.845843   9.073772
min     50000.000000  27.000000
25%     65000.000000  30.500000
50%     80000.000000  34.000000
75%    100000.000000  39.500000
max    120000.000000  45.000000

In [18]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [19]:
print(df.head())

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

In [20]:
import numpy as np

In [24]:
mat = np.arange(0,10).reshape(5,2)

df = pd.DataFrame(data=mat, columns=['A','B'])

print(df)

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9